# ===== Node =====
node_modules/
dist/
.env
*.log

# ===== Python =====
__pycache__/
*.pyc
.venv/
venv/
.env

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Uploads =====
uploads/
